@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.navbar {
    min-height: 150px;
}

#navbarNav {
    text-transform: uppercase;
    font-family: 'Nunito';
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
    vertical-align: middle;
}

.nav-link {
    font-size: 17px;
    color: #1a29e2;
}

.nav-link:hover {
    font-weight: bold;
    color: #1a29e2;
}

.sub-item {
    opacity: 0.7;
}

.active {
    font-weight: bold;
    opacity: 0.9;
    border-bottom: 2px solid blue;
}

.carousel-inner {
    height: 450px;
}

.carousel-inner img {
  height: 450px;
  object-fit: cover;
}

#logoMaior {
    width: 200px;
    object-fit: cover;
}

#logoMenor {
    width: 100px;
}

#div02 {
    display: none;
}

/*HOME CSS*/

#cards {
    margin-top: 40px;
}

footer {
    margin-top: 40px;
    width: 100%;
    background-color: black;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

footer .fundo {
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto !important;
    background-color: rgba(11, 11, 72, 0.8);
    padding: 70px;
}

footer h2 {
    color: white;
    text-align: center;
    font-family: 'Nunito';
}

footer #information {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Nunito';
}

.credits {
    background-color: #d4d3d3;
    margin-bottom: 0px;
    height: 40px;
}

.credits p {
    font-weight: bold;
    color: #b7b7b7;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Nunito';
    padding-top: 10px;
}

.fa-wallet, .fa-briefcase, .fa-handshake {
    color: blue;
}

.card-body {
    font-family: 'Nunito';
}

#titulo-sobre {
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    color: #041E42;
}

#texto-sobre {
    text-align: left;
}

.fa-check-circle {
    color: blue;
}

.sobre {
    padding: 50px;
}

#card-sobre, #card-image {
    border: none;
}

.servicos {
    font-size: 40px;
    font-family: 'Nunito';
    width: auto;
    text-align: center;
}

h3, a {
    font-family: 'Nunito';
}

.texto-caixa {
    font-family: 'Nunito';
}

.btn-grad {background-image: linear-gradient(to right, #1a29e2 0%, #7474BF  51%, #1a29e2  100%)}

.btn-grad {
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         

.link-caixa:hover {
    text-decoration: none;
    color: black;
}

.fundo_i i {
    font-size: 40px;
    color: #fff;
    margin-top: 25px;
}

.fundo_i {
    height: 90px;
    width: 90px;
    background-color: #1a29e2;
}

[type="checkbox"]
{
    vertical-align:middle;
}

@media only screen and (max-width: 800px) {
  #imagem01 {
    display: none !important;
  }
}