#resultado-simulacao {
    background-color: white;
    border-style: none;
}

input[type="number"] {
  background-color : transparent; 
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#botao-01 {
    border-top-left-radius: 5px 5px !important;
    border-bottom-left-radius: 5px 5px !important;
}

#botao-06 {
    border-top-right-radius: 5px 5px !important;
    border-bottom-right-radius: 5px 5px !important;
}

#legenda {
    color: grey !important;
}

.select-parcela {
    background-color: #526bff !important;
}

.select-parcela:hover {
    background-color: #0d2ef0 !important;
    cursor: pointer;
}

#info-juros {
    margin-bottom: 15px;
    text-align: center;
    color: black;
    font-family: 'Nunito';
    font-size: 17px;
}

#simulacao-dinheiro { 
    text-align: center;
    outline: 0;
    border-width: 0 0 1px;
    border-color: grey;
    padding: 10px;
    font-family: 'Nunito';
    font-size: 30px;
}

#simulacao-dinheiro:focus {
  border-color: blue;
}

.btn-soma {
    color: blue !important;
}

.btn-soma:hover {
    color: black !important;
    cursor: pointer;
}

#simulacao-cash {
    background-color: #eceaf9;
    border-style: none;
}

.my-class {
    background-color: #0d2ef0 !important;
}


.min-max {
    font-family: 'Nunito';
    color: #8a8a8a;
    font-size: 16px;
}

.card-title {
    font-size: 30px;
}